body {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 1.2em;
}

.fab {
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
}

.fab:hover {
    transform: scale(1.2);
}

.fas {
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.fas:hover {
    transform: scale(1.2);
}

.far {
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
}

.far:hover {
    transform: scale(1.2);
}

span {
    font-size: 1.3em;
    color: teal;
    border-bottom: 1px solid white;
}

span:hover {
    color: white;
    border-bottom: 1px solid teal;
    transform: scale(1.2);
}

.btn {
    margin: 10px auto;
}

/* navs */

.bg-light {
    background-color: rgb(0, 0, 0)!important;
    backdrop-filter: blur(20px);
}

.navbar-dark {
    color: white!important;
}

.navbar-brand {
    font-size: 1.3em;
}

nav a {
    color: white;
    font-size: 1.2em;
}

nav a:hover {
    color: rgb(146, 146, 146);
    transform: scale(1.2);
}

/* navs */

/* container-fluid */

.container-fluid {
    border: 1px solid transparent;
    height: 100vh;
    width: 100%;
    margin: 63px auto;
    background-image: url("images/nduthi3.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.intro {
    margin: 180px auto;
    max-width: 50%;
    min-width: 250px;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    background-color: rgb(19, 19, 19);
   
}

/* container-fluid */

/* container */

.container {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 4px auto;
    max-width: 90%;
    min-width: 250px;
}

.col {
    margin: 23px;
}

.profile-card {
    margin: auto;
    min-width: 250px;
    max-width: 100%;
}

.profile-img {
    width: 100%;
    height: 100%;
}

.about-card {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    

}

/* container */

/* contact form */

.contact-form {
    margin: 50px auto;
    max-width: 60%;
    min-width: 250px;
    background-color: rgb(17, 17, 17);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.whatsapp-icon {
    width: 50px;
    height: 50px;
}

.whatsapp-icon:hover {
    transform: scale(1.2);
}
 
/* contact form */

